body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  gap: 2rem;
}

.about-img-container {
  width: 50%;
}

.about-img {
  border-radius: 10px;
  width: 100%;
}

.about-text-container {
  width: 50%;
}

.about-heading {
  font-weight: 900;
  font-size: 40px;
}

.about-bold {
  font-size: 20px;
}

.statistics {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.statistics-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statistics-container-img {
  border-radius: 10px;
}

.statistics-count {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.count-number {
  font-weight: 900;
}

.explore-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: brown;
  border: 0;
  color: white;
  font-weight: 700;
}
